blueprints:
  /path/to/your/blueprints

logging:
  file: "logging.log"
  file_format: "{time} {level} {message}"
  stdout_format: "<green>{time}</green> <level>{message}</level>"

authentication:
  remote1:
    type: pass
    username: a_user
    password: default_password

  sshkey:
    type: ssh-key
    key_filename: ~/.ssh/id_rsa
    password: ssh_key_password

  sshprompt:
    type: ssh-key
    key_filename: ~/.ssh/id_rsa
    password: "{{$PROMPT}}"

  sshenv:
    type: ssh-key
    key_filename: ~/.ssh/id_rsa
    password: "{{$ENV.PASS_FROM_ENVIRONMENT}}"


machines:
  local:
    local: true

  remote1:
    hostname: 10.0.0.1
    authenticate: remote1

  remote2:
    hostname: 10.0.0.2
    authenticate: sshkey

  remote3:
    hostname: 10.0.0.3
    authenticate: sshkey
